* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  padding: 2rem 0;
}

body #nav-icon {
  font-size: 3rem;
  font-weight: bolder;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}

@media screen and (min-width: 1050px) {
  body #nav-icon {
    display: none;
  }
}

body #wrapper {
  min-width: 30rem;
  max-width: 50rem;
  height: 100vh;
}

body #wrapper #topics {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  left: -30rem;
  overflow-y: auto;
  background: #909090;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1050px) {
  body #wrapper #topics {
    left: 0;
  }
}

body #wrapper #topics::-webkit-scrollbar {
  width: 0.3rem;
}

body #wrapper #topics::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
          box-shadow: inset 0 0 6px white;
}

body #wrapper #topics::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}

body #wrapper #topics .nav-divider {
  font-size: 2rem;
  border-top: 0.2rem solid black;
  text-align: center;
  width: 90%;
  margin: 2rem auto 0;
  text-transform: capitalize;
}

body #wrapper #topics .topic {
  background: #fff;
  width: 90%;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  margin: 1rem;
}

body #wrapper #score {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

body #wrapper #score p {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
}

body #wrapper #word {
  font-size: 4rem;
  height: 8rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding: 4rem 0 2rem;
}

body #wrapper #translation {
  font-size: 2rem;
  padding: 2rem;
  height: 7rem;
  text-align: center;
  margin-bottom: 5rem;
}

body #wrapper #buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 5rem;
}

body #wrapper #buttons button {
  border: 0.1rem solid black;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

body #wrapper #buttons button:hover {
  cursor: pointer;
}

body #wrapper #translation-option {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid black;
  width: 20rem;
  margin: auto;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem black;
          box-shadow: 0.2rem 0.2rem 0.5rem black;
  cursor: pointer;
}

body #wrapper #counter {
  font-size: 2rem;
  text-align: center;
  padding: 0 0.5rem 1.5rem;
  border-bottom: 0.1rem solid black;
  margin-bottom: 3rem;
}

body #wrapper #vocabulary p {
  letter-spacing: 0.1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
}

body #wrapper #vocabulary p:nth-last-of-type(even) {
  background: #fff;
}
/*# sourceMappingURL=style.css.map */